@{
    ViewData["Title"] = "Home Page";
}

  <div class="cs-body">
      <div class="cs-header">
        <div class="profile-picture">
          <div class="fa fa-camera fa-3x"></div>
        </div>
        <div class="username">
          <h1>Stijn</h1>
          <div class="fa fa-pen"></div>
        </div>
      </div>
      <div class="cs-buttons">
        <a class="button cs-verlofaanvraag">Verlof aanvragen</a>
        <a class="button cs-verlofopgeven">Verlofreden opgeven</a>
        <a class="button cs-verlofplanning">Verlofplanning</a>
      </div>
      <div class="cs-cards">
        <div class="cs-card">
          <div class="cs-card-header">
            <p>Status verlof aanvraag</p>
            <img
              src="icon-card.svg"
              alt="My Happy SVG"
              width="30"
              height="40"
            />
          </div>
          <h1>In behandeling</h1>
          <p>Dec 21, 2022 t/m Januari 10, 2023</p>
          <p>Vakantie</p>
        </div>
        <div class="cs-card">
          <div class="cs-card-header">
            <p>Status verlof aanvraag</p>
            <img
              src="icon-users.svg"
              alt="My Happy SVG"
              width="30"
              height="40"
            />
          </div>
          <h1>In behandeling</h1>
          <p>Dec 21, 2022 t/m Januari 10, 2023</p>
          <p>Vakantie</p>
        </div>
      </div>
      <div class="cs-pop-up cs-hidden">
        <div class="inner">
          <div class="cs-verlofaanvraag cs-hidden">
            <h1 class="cs-head">Verlof aanvragen</h1>
            <div class="cs-numbers">
              <div class="cs-number">
                <h1>40</h1>
                <p>uur opgenomen</p>
              </div>
              <div class="cs-line"></div>
              <div class="cs-number">
                <h1>-40</h1>
                <p>uur baschikbaar</p>
              </div>
            </div>
            <div class="cs-input-forms">
              <form action="POST">
                <div class="cs-input">
                  <p>Startdatum</p>
                  <input
                    type="date"
                    class="cs-searchbar"
                    placeholder="Startdatum"
                  />
                </div>
                <div class="cs-input">
                  <p>Einddatum</p>
                  <input
                    type="date"
                    class="cs-searchbar"
                    placeholder="Startdatum"
                  />
                </div>
                <div class="cs-input">
                  <p>Beschrijving</p>
                  <input
                    type="text"
                    class="cs-searchbar"
                    placeholder="Beschrijving aanvraag"
                  />
                </div>
                <div class="cs-input-buttons">
                  <a class="button button-grey cs-cancel">Annuleren</a>
                  <a class="button">Versturen</a>
                </div>
              </form>
            </div>
          </div>
          <div class="cs-verlofopgeven cs-hidden">
            <h1 class="cs-head">Verlof opgeven</h1>

            <div class="cs-input-forms">
              <form action="POST">
                <div class="cs-input">
                  <p>Startdatum</p>
                  <input
                    type="date"
                    class="cs-searchbar"
                    placeholder="Startdatum"
                  />
                </div>
                <div class="cs-input">
                  <p>Einddatum</p>
                  <input
                    type="date"
                    class="cs-searchbar"
                    placeholder="Startdatum"
                  />
                </div>
                <div class="cs-input">
                  <p>Beschrijving</p>
                  <input
                    type="text"
                    class="cs-searchbar"
                    placeholder="Beschrijving aanvraag"
                  />
                </div>
                <div class="cs-input-buttons">
                  <a class="button button-grey cs-cancel">Annuleren</a>
                  <a class="button">Versturen</a>
                </div>
              </form>
            </div>
          </div>
          <div class="cs-verlofplanning cs-hidden">
            <h1 class="cs-head">Verlofplanning</h1>

            <div class="cs-input-forms">
              <div class="cs-verlofplanningbox">
                <p>Beschrijving verlof</p>
                <p>Sun 16 Jul - Mon 17 Jul 2023</p>
                <div class="cs-label cs-approved">Approved</div>
                <div class="cs-input-buttons">
                  <a class="button button-grey cs-cancel">Annuleren</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>