<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GeoCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GeoCore.styles.css" asp-append-version="true"/>
</head>
<body>
<header class="">
       <div class="cs-navbar ">
      <div class="logo">
        <img src="logo.svg" alt="My Happy SVG" width="30" height="40" />
        <h2>GeoProfs</h2>
      </div>
      <ul class="cs-menu">
        <a class="cs-menu-item selected"
          ><img src="House.svg" alt="My Happy SVG" width="30" height="40" />
          <li>Dashboard</li>
        </a>
        <a class="cs-menu-item"
          ><img src="icon-card.svg" alt="My Happy SVG" width="30" height="40" />
          <li>Verlofaanvraag</li>
        </a>
        <a class="cs-menu-item"
          ><img src="icon-card.svg" alt="My Happy SVG" width="30" height="40" />
          <li>Verlofplanning</li>
        </a>
        <a class="cs-menu-item"
          ><img src="icon-card.svg" alt="My Happy SVG" width="30" height="40" />
          <li>Bezettings overzicht</li>
        </a>
        <a class="cs-menu-item"
          ><img src="icon-card.svg" alt="My Happy SVG" width="30" height="40" />
          <li>Goedkeurings procedures</li>
        </a>
        <a class="cs-menu-item"
          ><img src="icon-card.svg" alt="My Happy SVG" width="30" height="40" />
          <li>Meldingen</li>
        </a>
      </ul>
    </div>
</header>
        @RenderBody()

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>