@{
    ViewBag.Title = "Bezetting";
}
<div class="cs-body">
    <div class="cs-numbers">
        <div class="cs-number">
            <h1>40</h1>
            <p>Beschikbare uren</p>
        </div>
        <div class="cs-line"></div>
        <div class="cs-number">
            <h1>40</h1>
            <p>Beschikbare uren</p>
        </div>
        <div class="cs-line"></div>
        <div class="cs-number">
            <h1>40</h1>
            <p>Beschikbare uren</p>
        </div>
    </div>
    <div class="cs-search">
        <input type="text" class="cs-searchbar" />
        <a class="button">
            <img src="icon-user.svg"
                 alt="My Happy SVG"
                 width="15"
                 height="15" />Toevoegen
        </a>
        <a class="button button-grey">
            <img src="dots_1.svg" alt="My Happy SVG" width="15" height="15" />
        </a>
    </div>
    <div class="cs-filters">
        <div class="dropdown">
            <div class="cs-top" onclick="toggleDropdown('dropdown1')">
                <p>Alles</p>
                <img src="arrow.svg" alt="My Happy SVG" width="25" height="25" />
            </div>
            <ul id="dropdown1" class="dropdown-menu">
                <!-- Dropdown options here -->
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Option 3</li>
            </ul>
        </div>
        <div class="dropdown">
            <div class="cs-top" onclick="toggleDropdown('dropdown2')">
                <p>Alle afdelingen</p>
                <img src="arrow.svg" alt="My Happy SVG" width="25" height="25" />
            </div>
            <ul id="dropdown2" class="dropdown-menu">
                <!-- Dropdown options here -->
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Option 3</li>
            </ul>
        </div>
        <div class="dropdown">
            <div class="cs-top" onclick="toggleDropdown('dropdown3')">
                <p>Datum</p>
                <img src="arrow.svg" alt="My Happy SVG" width="25" height="25" />
            </div>
            <ul id="dropdown3" class="dropdown-menu">
                <!-- Dropdown options here -->
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Option 3</li>
            </ul>
        </div>
    </div>

    <div class="cs-form">
        <table class="cs-table">
            <tr class="cs-table-head">
                <th class="checkbox-cell"><span class="custom-checkbox"></span></th>
                <th>Gebruiker</th>
                <th>Aanwezig</th>
                <th>Telefoonnummer</th>
                <th>Positie</th>
                <th>Ingeplande uren</th>
                <th>Beschikbare uren</th>
            </tr>
            <tr>
                <th class="checkbox-cell"><span class="custom-checkbox"></span></th>
                <td>John Doe</td>
                <td>nee</td>
                <td>1234567890</td>
                <td>Manager</td>
                <td>40</td>
                <td>168</td>
            </tr>
            <tr>
                <th class="checkbox-cell"><span class="custom-checkbox"></span></th>
                <td>Jane Smith</td>
                <td>Ja</td>
                <td>9876543210</td>
                <td>Supervisor</td>
                <td>32</td>
                <td>168</td>
            </tr>
            <!-- Add more rows as needed -->
        </table>
    </div>
</div>