@{
    ViewBag.Title = "Home Page";
}



<div class="cs-body">
    <div class="cs-header">
        <div class="profile-picture">
            <div class="fa fa-camera fa-3x"></div>
        </div>
        <div class="username">
            <h1>Stijn</h1>
            <div class="fa fa-pen"></div>
        </div>
    </div>
    <div class="cs-buttons">
        <a class="button">Verlof aanvragen</a>
        <a class="button">Verlofreden opgeven</a>
        <a class="button">Verlofplanning</a>
    </div>
    <div class="cs-cards">
        <div class="cs-card">
            <div class="cs-card-header">
                <p>Status verlof aanvraag</p>
                <img src="icon-card.svg"
                     alt="My Happy SVG"
                     width="30"
                     height="40" />
            </div>
            <h1>In behandeling</h1>
            <p>Dec 21, 2022 t/m Januari 10, 2023</p>
            <p>Vakantie</p>
        </div>
        <div class="cs-card">
            <div class="cs-card-header">
                <p>Status verlof aanvraag</p>
                <img src="icon-users.svg"
                     alt="My Happy SVG"
                     width="30"
                     height="40" />
            </div>
            <h1>In behandeling</h1>
            <p>Dec 21, 2022 t/m Januari 10, 2023</p>
            <p>Vakantie</p>
        </div>
    </div>
</div>